@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 antialiased;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}